* {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #e0ddddef;
}
section {
  background-color: #fff;
  border: 1px solid #e0ddddef;
  border-radius: 5px;
  max-width: 500px;
  padding: 1.5em;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
h1 {
  font-size: 2.5em;
  text-align: center;
  font-family: inherit;
}
.todo-container {
  display: grid;
  grid-template-columns: 20px 200px 100px;
  grid-gap: 10px;
  grid-template-rows: 40px;
  justify-items: center;
  margin: 5px 0px;
  padding: 10px 0px 5px 0px;
  border-top: 1px solid #e0ddddef;
  align-content: space-evenly;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
.btn-save-todo {
  background-color: #18d2c3;
  color: #fff;
}
.save-todo {
  display: grid;
  grid-template-columns: auto 80px;
  grid-gap: 10px;
}
.input-save-todo {
  height: 60%;
  border: 1px solid #e0ddddef;
  margin: auto 0;
  padding: 5px;
}
.btn-remove-todo {
  background-color: #ea1212;
  color: #fff;
}
